.center{
  text-align: center;
}
body{
  background-color: #bac9e2
}
.jumbotron{
  background-image:url(../img/jumbo.jpg);
}
.col-md-2 img{
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}
.well{
  background-color: #dad7ea;
}
.thumbnail{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  background-color: black;
  margin: auto;
  display: block;
}
.important{
  font-weight: bold;
}
.interest{
  font-style: italic;
}
.sidebar{
  background-color: #162744;
  height: 100vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
