body{
  background-color: #bac9e2
}

h1{
  text-align: center;
}

#jumbo{
  padding: 3px;
  background-image: url(../img/jumbo.jpg);
}
.col-md-2 img{
  width: 100%;
  border-radius: 15px;
  border: 2px solid #d7dbe2;
}
.col-md-2 p img{
  width: 40%;
  float: right;
}
.well{
  background-color: #dad7ea;
}
.thumbnail{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  background-color: black;
  margin: auto;
  display: block;
}
.sidebar{
  background-color: #162744;
  height: 100vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.important{
  font-style: italic;
}
.white{
  color: #d7dbe2;
}
.footer{
  position:fixed;
  bottom:0;
  width:100%;
  padding: 3px
  text-align: center;
}
.bold{
  color: black;
  font-size: 100px;
  font-family: cursive;

}
