.center{
  text-align: center;
}
body{
  background-color: #bac9e2
}
.jumbotron{
  background-image:url(../img/jumbo.jpg);
}
.col-md-2 img{
  width: 100%;
}
.well{
  background-color: #dad7ea;
}
.thumbnail{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  background-color: black;
  margin: auto;
  display: block;
}
